<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />

<div class="confetti">
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="flex justify-center p-56">
    <div class="text-grey-100 inline-block animate-ping rounded-lg bg-green-500 px-8 py-4">
      <span> Goood job </span>
    </div>
  </div>
</div>
