<div class="test-details">
    <h3 class="section-title">- Description</h3>
    <p>{{ test.description }}</p>
    <p-divider></p-divider>
  
    <h3 class="section-title">- Stack</h3>
    <p>{{ test.stack }}</p>
    <p-divider></p-divider>
  
    <h3 class="section-title">- Level</h3>
    <p>{{ test.level }}</p>
    <p-divider></p-divider>
  
    <div *ngFor="let question of test.questions" class="question-container">
      <h3 class="section-title">- Question</h3>
      <p>{{ question.text }}</p>
      <p-divider></p-divider>
  
      <h3 class="section-title">- Correct Answer</h3>
      <p>{{ question.correct_option.text }}</p>
      <p-divider></p-divider>
  
      <h3 class="section-title">- Options</h3>
      <div *ngFor="let option of question.options">
        <p>* {{ option.text }}</p>
      </div>
  
      <p-divider></p-divider>
    </div>
  </div>
  